* {
    background-color: #000;
    color: white;
}

#website {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Manrope';
}

#current-faction {
    width: 20vw;
    height: 3vh;
    border-radius: 16px;
    padding: 0;
    border: 2px solid white;
    background-color: #212020;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
}

.button {
    width: 20vw;
    height: 10vh;
    border-radius: 16px;
    padding: 0;
    border: 2px solid white;
    background-color: #212020;
    transition: 0.75s;
    cursor: pointer;
    margin: 10px;
}
.button:hover{
    scale: 105%;
    box-shadow: inset 0 0 2px white;
    background-color: #313030;
}